.site-footer {
  background-color: $light-gray;
  margin-top: 4 * $base-spacing;
  border-bottom: $base-border;
  margin-bottom: -1px;
  padding: 1.5 * $base-spacing 0 $small-spacing;

  @media screen and (min-width: $medium-screen) {
    padding-top: 2 * $base-spacing;
    padding-bottom: 1.5 * $base-spacing;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: $large-screen) {
    padding-left: 2 * $base-spacing;
    padding-right: 2 * $base-spacing;
  }

  &--brand {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: $base-spacing;
    padding: 0 $base-spacing;

    @media screen and (min-width: $medium-screen) {
      padding: 0;
      margin-bottom: 0;
    }

    img {
      width: 4 * $base-spacing;
      height: 4 * $base-spacing;
    }

    &--image {
      display: block;
      margin-right: $small-spacing;

      @media screen and (min-width: $medium-screen) {
        margin-right: $base-spacing;
      }
    }

    &--text {
      p {
        font-size: modular-scale(-1);
        margin-bottom: 0;
      }
    }
  }

  &--title {
    font-size: modular-scale(2);
    font-weight: 700;
    margin-bottom: $small-spacing/2;

    @media screen and (min-width: $medium-screen) {
      font-size: modular-scale(1);
    }
  }

  &--logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $medium-gray;
    padding: $small-spacing $base-spacing 0;

    @media screen and (min-width: $medium-screen) {
      padding: 0;
      margin: 0 0 0 auto;
      border-top: 0;
    }

    img {
      display: block;
      max-width: 25vw;
    }

    a + a {
      display: inline-block;
      margin-left: $small-spacing;

      @media screen and (min-width: $large-screen) {
        margin-left: $base-spacing;
      }
    }
  }
}
