.home-hero {
  position: relative;
  min-height: calc(100vh - #{5 * $base-spacing});
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-style: preserve-3d;

  .container {
    transform-style: preserve-3d;
    min-height: 60vh;
  }

  &--text {
    position: relative;
    z-index: 99;

    @media screen and (min-width: $medium-screen) {
      margin-bottom: 5.5 * $base-spacing;
      width: 65%;
    }
  }

  &--title {
    font-size: modular-scale(6);
    font-weight: 700;
    margin-bottom: $base-spacing;

    @media screen and (min-width: $medium-screen) {
      font-size: modular-scale(7);
    }
  }

  &--excerpt {
    width: 85%;
    margin-bottom: 1.5 * $base-spacing;
  }

  &--image {
    z-index: -1;
    margin-top: -4 * $base-spacing;
    transform-style: preserve-3d;
    width: 110%;

    @media screen and (min-width: $medium-screen) {
      position: absolute;
      width: 66.7%;
      right: -5%;
      bottom: -$base-spacing;
    }

    img {
      animation: loadHeroImage 3.5s 4.75s forwards;
      filter: grayscale(1) contrast(0.25) brightness(1.9);

      .internal-referer &,
      .barba-loaded & {
        animation: loadHeroImage 3.5s 0s forwards;
      }
    }
  }
}

.image--blob {
  z-index: -1;
  display: block;
  opacity: 0.5;
  content: "";
  bottom: 0;
  left: -4 * $base-spacing;
  position: absolute;
  width: 50%;
  padding-top: 50%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20952%20768%22%3E%3Cpath%20d%3D%22M621.32%20146.02C535.71%20114.16%20503.14%2067.53%20386.5%2040.51S172.23%20125.9%20108.78%20237.36s-.21%20204.31%2022.13%20237.37c41.53%2061.45%20108.86%2095.37%20145.97%20116.24%2078.62%2044.2%2048.55%2092.63%20174.55%20123.95s219.45-119.39%20286.81-210.2c-.01%200%20211.01-236.67-116.92-358.7z%22%20fill%3D%22%23eee7e0%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $medium-screen) {
    will-change: transform;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, -0.08px) scale(1.08);
  }

  &_2 {
    z-index: 1;
    opacity: 0.75;
    bottom: -$base-spacing;
    left: auto;
    right: -35vw;
    width: 75%;
    padding-top: 75%;
    transform: rotate(90deg);
    transform-origin: center;

    @media screen and (min-width: $medium-screen) {
      right: -25vw;
      transform: translate3d(0, 0, 0.2px) scale(0.8) rotate(90deg);
    }
  }
}

.image--dots {
  z-index: 1;
  display: block;
  content: "";
  bottom: -2 * $base-spacing;
  top: 2 * $base-spacing;
  right: 0 * $base-spacing;
  position: absolute;
  width: 50%;

  @include has-background-dots(transparentize($medium-gray,0.3));

  @media screen and (min-width: $medium-screen) {
    will-change: transform;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0.1px) scale(0.9);
  }
}

@keyframes loadHeroImage {
  100% {
    filter: grayscale(0) contrast(1) brightness(1);
  }
}
