.entry-content {
  &--project {
    @extend .tag;

    margin-bottom: 1.5 * $base-spacing;

    @media screen and (min-width: $medium-screen) {
      margin-bottom: 3 * $base-spacing;
    }
  }

  &--meta-top {
    display: none;

    @media screen and (min-width: $medium-screen) {
      display: block;
      flex: 1;
    }
  }

  &--meta-top--inner {
    position: sticky;
    z-index: 9;
    top: $small-spacing;
    padding-bottom: $base-spacing;
  }

  &--author {
    text-align: right;

    &--image {
      margin-left: auto;
      max-width: 5.5em;
      width: 100%;
      margin-bottom: $small-spacing;
      margin-right: -0.5em;

      img {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: auto;
      }
    }

    &--name {
      margin-bottom: 0;
      font-size: modular-scale(0);
      font-weight: 700;
    }

    &--role {
      margin-top: $small-spacing/2;
      margin-bottom: $small-spacing/2;
      line-height: $heading-line-height;
      font-weight: 500;
    }
  }

  &--date {
    display: block;
    // color: $dark-gray;
    font-size: modular-scale(-2);
    text-align: right;
  }

  &--number {
    @extend .post-title;

    line-height: 1;
  }

  &--meta-bottom {
    margin-top: auto;

    h3 {
      font-size: modular-scale(0);
    }

    p {
      font-style: italic;
      font-size: modular-scale(-1);
    }

    > *:last-child {
      margin-bottom: 0;
    }

    a {
      @extend %underlined-link;
    }
  }

  display: flex;
  flex-direction: column;
  margin-top: 1.5 * $base-spacing;
  transform-style: preserve-3d;

  &--sidebar {
    margin-top: 1.5 * $base-spacing;
    padding-bottom: 2 * $base-spacing;

    @media screen and (min-width: $medium-screen) {
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      padding-right: $base-spacing;
      margin-top: 0;
      border-right: $base-border;
    }

    .tag {
      margin-bottom: $base-spacing;

      @media screen and (min-width: $medium-screen) {
        display: none;
      }
    }

    .sidebar--address {
      @media screen and (min-width: $medium-screen) {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin-bottom: 3.5 * $base-spacing;
      }

      font-size: modular-scale(5);
      font-style: normal;
      line-height: $heading-line-height;
      font-weight: 500;
      margin-bottom: 1.5 * $base-spacing;
    }

    .sidebar--email,
    .sidebar--phone {
      font-weight: 700;
      display: block;

      @media screen and (min-width: $medium-screen) {
        font-size: modular-scale(-1);
      }
    }
  }

  &--main {
    padding-bottom: 2 * $base-spacing;
    flex: 1;
    transform-style: preserve-3d;

    @media screen and (min-width: $medium-screen) {
      padding-left: $base-spacing;
    }

    > *:last-child {
      margin-bottom: 0 !important;
    }

    .wp-block-image {
      @extend %fade-into-view;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5 * $base-spacing;
      margin-bottom: $base-spacing;
    }

    p {
      max-width: $max-line-length;
      font-size: modular-scale(-1);
      font-weight: 500;

      &.has-large-font-size {
        font-size: modular-scale(1);
        font-weight: 600;
      }

      &.has-background {
        position: relative;
        margin: 2 * $base-spacing 0;
        padding: 1.5 * $base-spacing 2 * $base-spacing;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 2 * $base-spacing;
          height: 2 * $base-spacing;
          content: "";
          border: $base-spacing solid white;
          border-right-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }

    ul,
    ol {
      margin: $base-spacing 0 1.5 * $base-spacing;
    }

    li {
      max-width: $max-line-length;
      margin: $small-spacing 0;
      padding-left: 2 * $base-spacing;
      font-size: modular-scale(-1);
      font-weight: 500;
    }

    ol {
      counter-reset: list;

      li {
        &::before {
          counter-increment: list;
          content: counter(list) ".";
          display: block;
          float: left;
          margin-left: -1.25 * $base-spacing;
          margin-top: -$small-spacing/4;
          font-size: modular-scale(2);
          font-weight: 500;
        }
      }
    }

    ul li {
      &::before {
        display: block;
        float: left;
        margin-left: -1.25 * $base-spacing;
        margin-top: $small-spacing/1.5;
        transform: rotate(-45deg);
        width: 1.5 * $small-spacing;
        height: 0.2em;
        content: "";
        background-color: $base-font-color;
      }
    }

    p,
    ol,
    ul,
    figcaption {
      a {
        @extend %underlined-link;
      }
    }
  }

  &__page {
    .entry-content--main {
      margin-right: auto;
      padding-left: 0;
      padding-right: $base-spacing;
      position: relative;
    }

    .entry-content--sidebar {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
      padding-bottom: $base-spacing;

      @media screen and (min-width: $medium-screen) {
        border-left: $base-border;
        padding-left: $base-spacing;
      }
    }
  }

  &__single-project {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $medium-screen) {
    flex-direction: row;
  }

  &__single-scrap {
    max-width: $small-screen;
    margin-left: auto;
    margin-right: auto;
    margin-top: $base-spacing;

    p {
      max-width: none !important;
    }

    .entry-content--main {
      padding-left: 0;
    }
  }

  &__single-post {
    margin-top: 0;
  }
}

.tag + .entry-header--title {
  padding-top: 1.5 * $base-spacing;
}
