.posts-list--wrapper {
  border-top: $base-border;
  padding-top: 3 * $base-spacing;

  &__author {
    margin-left: 20%;
  }
}

.posts-list--post {
  margin-bottom: 2 * $base-spacing;
  display: block;

  @media screen and (min-width: $medium-screen) {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &--meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $medium-screen) {
      display: block;
      flex: 0 0 20%;
      padding-right: $base-spacing;
      border-right: $base-border;
      margin-right: $base-spacing;
      text-align: right;
      padding-top: $small-spacing;
    }
  }

  &--text {
    padding-top: $small-spacing;
    padding-bottom: 3.5 * $base-spacing;

    * {
      max-width: $max-line-length;
    }
  }

  &--image {
    @media screen and (min-width: $medium-screen) {
      padding-bottom: 3.5 * $base-spacing;
      margin-right: $base-spacing;
      flex: 0 0 auto;
      width: 12 * $base-spacing;
    }

    img {
      display: block;
      height: auto;
    }
  }

  &--tag {
    font-size: modular-scale(-2);
    margin-bottom: $small-spacing;
  }

  &--title {
    font-size: modular-scale(2);
  }

  &--excerpt {
    font-size: modular-scale(-1);

    a {
      display: block;
      text-transform: lowercase;
      margin-top: $small-spacing;
    }
  }

  &--author {
    margin-top: $small-spacing;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: modular-scale(-1);
    padding-right: 1.5 * $base-spacing;
    position: relative;

    &::after {
      width: 1.5 * $base-spacing;
      content: "→";
      font-weight: 400;
      position: absolute;
      right: 0;
      font-size: modular-scale(2);
      text-align: right;
      color: $dark-gray;
    }

    img {
      margin-right: $small-spacing;
      display: block;
      border-radius: 50%;
      width: 1.5 * $base-spacing;
      height: 1.5 * $base-spacing;
    }
  }
}
