.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;

  &--wrapper {
    border-top: $base-border;
    padding-top: $small-spacing;

    &__related {
      @media screen and (max-width: $medium-screen) {
        .projects-grid--project:nth-child(3) {
          display: none;
        }
      }

      @media screen and (min-width: $medium-screen) {
        margin-left: calc(20% - 1px);
        padding-left: $base-spacing;
        border-left: $base-border;
      }
    }
  }

  &--header {
    flex: 0 0 100%;
    margin-top: 1.5 * $base-spacing;
    margin-bottom: $base-spacing;
    font-size: modular-scale(5);
    font-weight: 400;
  }

  &--image {
    margin-bottom: $base-spacing;
    overflow: hidden;
    padding-top: 100%;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      z-index: 99;
      display: block;
      line-height: 0.8;
      color: #fff;
      top: 50%;
      left: 50%;
      content: "←";
      opacity: 0;
      backface-visibility: hidden;
      font-size: 5em;
      transform: translate(-80%, -20%) rotate(-45deg);
      transform-origin: center;
      transition: transform 3 * $base-duration, opacity 3 * $base-duration;
    }

    &::after {
      content: "→";
      transform: translate(-20%, -80%) rotate(-45deg);
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
      transition: transform 3 * $base-duration $base-timing;
    }
  }

  &--heading {
    font-size: modular-scale(2);
  }

  &--excerpt {
    font-size: modular-scale(-1);
    margin-bottom: $small-spacing/2;
  }

  &--read-more {
    font-size: modular-scale(-1);
    text-transform: lowercase;
    margin-top: auto;
    padding-bottom: $base-spacing;
  }

  &--project {
    flex: 0 0 calc(50% - #{$base-spacing} - 1px);
    margin: $small-spacing;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $medium-screen) {
      flex: 0 0 calc(33.33% - #{$base-spacing} - 1px);
    }

    @extend %fade-into-view;

    &:nth-child(3n) {
      transition-delay: $base-duration !important;
    }

    &:nth-child(3n - 1) {
      transition-delay: $base-duration/2 !important;
    }

    &:nth-child(3n - 2) {
      transition-delay: 0 !important;
    }

    &:hover {
      img {
        transform: scale(1.025);
      }

      .projects-grid--image {
        &::after {
          opacity: 0.8;
          transform: translate(0%, -100%) rotate(-45deg);
        }

        &::before {
          opacity: 0.8;
          transform: translate(-100%, 0%) rotate(-45deg);
        }
      }
    }
  }

  &__irregular {
    border-bottom: $base-border;

    .projects-grid--project {
      flex: 0 0 calc(50% - #{$base-spacing} - 1px);

      @media screen and (min-width: $medium-screen) {
        flex: 0 0 calc(25% - #{$base-spacing} - 1px);
      }

      .projects-grid--image {
        padding-top: 135%;
      }

      &:nth-child(6n+1),
      &:nth-child(6n) {
        flex: 0 0 calc(100% - #{$base-spacing} - 1px);

        .projects-grid--image {
          padding-top: 63.25%;
        }

        @media screen and (min-width: $medium-screen) {
          flex: 0 0 calc(50% - #{$base-spacing} - 1px);
        }
      }
    }
  }
}
