.tag {
  display: inline-block;
  background-color: $base-font-color;
  color: white;
  text-transform: uppercase;
  letter-spacing: $wide-letter-spacing;
  padding: $small-spacing/2 $small-spacing $small-spacing/3;
  z-index: 9;
  position: relative;
}
