@import "bourbon/bourbon";
@import "common/variables";
@import "common/extends";

/** Import everything from autoload */
// @import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/fonts";
@import "components/forms";
@import "components/gutenberg";
@import "components/layout";
@import "components/lists";
@import "components/media";
@import "components/page-transitions";
@import "components/project-navigation";
@import "components/social";
@import "components/tables";
@import "components/tags";
@import "components/typography";
@import "components/wp-classes";

/** Layouts **/
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/loading";
@import "layouts/pages";
@import "layouts/post-header";
@import "layouts/post-content";
@import "layouts/posts";
@import "layouts/tinymce";

/** General **/
@import "layouts/projects-grid";
@import "layouts/related-posts";
@import "layouts/newsletter";

/** Home page **/
@import "layouts/home-loading";
@import "layouts/home-hero";
@import "layouts/home-scrapbook";
@import "layouts/home-about";
@import "layouts/home-projects";
@import "layouts/home-blog";

/** About page **/
@import "layouts/about";

/** Scraps page **/
@import "layouts/scraps-archive";


.back-link {
    display: inline-block;
    margin-bottom: $small-spacing;

    @media screen and (min-width: $medium-screen) {
        margin-bottom: -2 * $base-spacing;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex-direction: row;
}